body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* KART */
.auth-card {
    display: flex;
    width: 750px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

/* SOL */
.auth-left {
    width: 50%;
    background: #1e3c72;
    color: white;
    padding: 30px;
}

/* SAĞ */
.auth-right {
    width: 50%;
    padding: 30px;
}

/* INPUT */
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #2a5298;
    color: white;
    border: none;
}