body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* KART */
.auth-card {
    display: flex;
    width: 750px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

/* SOL */
.auth-left {
    width: 50%;
    background: #1e3c72;
    color: white;
    padding: 30px;
}

/* SAĞ */
.auth-right {
    width: 50%;
    padding: 30px;
}

/* INPUT */
input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #2a5298;
    color: white;
    border: none;
}
.nav-links a.active {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}
.hero {
    width: 85%;
    margin: 40px auto 20px;
    padding: 45px;
    border-radius: 22px;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 34px;
    margin-bottom: 10px;
}

.search-box {
    width: 75%;
    margin: -10px auto 30px;
    background: white;
    border-radius: 18px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.search-box div {
    display: flex;
    flex-direction: column;
}

.search-box span {
    font-size: 13px;
    color: #6b7280;
}

.search-box b {
    color: #111827;
}

.search-box button {
    width: 140px;
    margin-top: 0;
}

.welcome-text {
    text-align: center;
    color: #374151;
    font-weight: bold;
}